@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply select-none;
  }
}

/* 스크롤바 커스터마이징 */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* 스크롤바 손잡이 색상 */
  border-radius: 4px; /* 스크롤바 손잡이의 둥근 모서리 */
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* 스크롤바 손잡이 호버 시 색상 */
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f5f8; /* 스크롤바 트랙 색상 */
  border-radius: 4px; /* 트랙의 둥근 모서리 */
}

/* 워크스페이스 커스터마이징 */
.custom-table thead,
.custom-table tbody tr {
  display: table;
  width: 100%;
}

.custom-table-move {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.custom-table-move.show {
  max-height: 500px; /* 콘텐츠가 충분히 커질 수 있도록 적절한 높이 설정 */
  transition: max-height 0.5s ease-in-out; /* 필요할 경우 전환 효과 유지 */
}

/* 옵션 버튼이 트랜지션과 함께 표시되도록 설정 */
.custom-table tr:hover .option-button {
  opacity: 1;
}
